
.mat-mdc-dialog-content {
  display: flex;
  flex-direction: column;

  .status-field {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
}

.mat-mdc-dialog-actions{
  padding: 0 24px 24px 24px;

  .cancel-btn{
    margin-left: auto;
  }
}