<h1 mat-dialog-title>
  <span *ngIf="data">Edit ToDo Item</span>
  <span *ngIf="!data">Create ToDo Item</span>
</h1>

<ng-container *ngIf="editForm">

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div mat-dialog-content>
      
      <mat-form-field *ngIf="data">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
    
      <div class="status-field">
        <mat-label>Status</mat-label>
        <mat-checkbox formControlName="status">Done</mat-checkbox>
      </div>
    
      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>SubCategories</mat-label>
        <mat-select formControlName="subCategoriesIds" multiple>
          <mat-option *ngFor="let subCategory of filteredSubCategories$ | async" [value]="subCategory.id">
            {{ subCategory.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>

    <div mat-dialog-actions>
      <button type="submit" mat-flat-button color="primary" cdkFocusInitial>Save</button>
      <button type="button" mat-stroked-button color="accent" (click)="onNoClick()" class="cancel-btn">Cancel</button>
    </div>

  </form>

</ng-container>